body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slika {
  width: 150px;
}

.card {
  color: #2b2839;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #ddebf8;
  border-bottom: 10px solid #d8cefe;
}
